# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment (even if poetry usually manages it outside the project)
.venv/
venv/

# Poetry files
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# VSCode
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# dotenv
.env
.env.*

# Misc
.DS_Store
Thumbs.db

# Project
.browser-profile
.cache.json
config_env.json
